body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 148);
}
body::-webkit-scrollbar{
    display: none;
}
.navi{
    position: fixed;
    top: 0;left: 0;right: 0;
    background-color: #FFC767;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    padding: 0px 4%;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    border-bottom: 2px solid rgba(22, 0, 0, 0.7);
}
.navi .logo {
    display: flex;
}
.navi div img{
     border-radius: 50px;
     height: 60px;
}
.navi .logo span{
    margin-top: 15px;
}
.navi .logo span p{
    
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.navi .logo span .name{
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navi .logo span .desc{
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

 .navi ul{
    list-style: none;
}
 .navi ul li{
    position: relative;
    float: left;
}
.navi ul li a{
    color: black;
    font-size: 15px;
    text-decoration: none;
    margin-left: 40px;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navi ul li a:hover{
    color: rgba(49, 33, 3, 0.4);
}

/*Context*/
.cont {

    display: flex;
    justify-content: center;
}
.cont img{
    margin-top: 30vh;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 2px 2px black;
}
.cont p{
    color: black;
    margin-top: 5vh;
    font-weight: 700;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media(max-width:320px){


    .navi .logo {
        display: flex;
    }
    .navi div img{
         border-radius: 50px;
         height: 60px;
    }
    .navi .logo span{
        margin-top: 15px;
    }
    .navi .logo span p{
        
        margin-left: 10px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .navi .logo span .name{
        font-size: 15px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .navi .logo span .desc{
        font-size: 12px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
     .navi ul{
        display: flex;
        list-style: none;
        margin-left: -85px;
        margin-top: 150px;
        position: absolute;
        font-size: 10px;
    }
     .navi ul li{
   
        position: relative;
        float: right;
    }
    .navi ul li a{
        color: black;
        font-size: 15px;
        text-decoration: none;
        margin-left: 40px;
        font-weight: 400;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .navi ul li a:hover{
        color: rgba(49, 33, 3, 0.4);
    }
}